@model ExercicioMvc01.Presentation.Models.FuncionarioConsultaViewModel;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5>Consulta de Funcionários</h5>

<div class="row">
    <div class="col-md-6">
        @using (Html.BeginForm())
        {
            <label>Funcionário</label>
            @Html.TextBoxFor(model => model.Nome,
           new
                {
               @class = "form-control",
               @placeholder = "Ex: Ariclenes"
                })

            <br />

            <input type="submit" class="btn btn-success" value="Pesquisar" />
        }

        <br />

        @if (Model != null && Model.Funcionarios != null && Model.Funcionarios.Count() > 0)
        {
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Salário</th>
                        <th>Departamento</th>
                        <th>Cargo</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Funcionarios)
                    {
                    <tr>
                        <td>@item.Nome</td>
                        <td>@item.Salario</td>
                        <td>@item.Departamento.Nome</td>
                        <td>@item.Cargo.Nome</td>
                    </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="4">@Model.Funcionarios.Count() funcionários localizados.</td>
                    </tr>
                </tfoot>
            </table>
        }
    </div>
</div>